.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/736x/7c/10/61/7c106167c5c3c4666f9f1aac49a798fb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  backdrop-filter: blur(20px);
  //   background: linear-gradient(135deg, #667eea, #764ba2);

  .form-container {
    width: 380px;
    padding: 2.5rem;
background:
  radial-gradient(circle at top left, rgba(243, 242, 201, 0.4), transparent 40%),
  linear-gradient(135deg, #d4c2ab, #b6d0ea);
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;

    .error {
      font-size: 0.75rem;
      color: #ff6b6b;
      text-align: left;
      margin-top: -0.5rem;
    }

    h2 {
      margin-bottom: 0.5rem;
      font-size: 1.8rem;
      font-weight: 600;
    }

    .subtitle {
      font-size: 0.9rem;
      opacity: 0.8;
      margin-bottom: 1.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 0.8rem 1rem;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 0.95rem;
        background: rgba(255, 255, 255, 0.2);
        color: white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      button {
        padding: 0.8rem;
        border: none;
        border-radius: 10px;
        background: white;
        color: #764ba2;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .switch-mode {
      margin-top: 1rem;
      font-size: 0.85rem;

      span {
        cursor: pointer;
        color: #ffd369;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .register-link {
      margin-top: 1.2rem;
      font-size: 0.85rem;

      a {
        color: #ffd369;
        font-weight: 600;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

